<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">일시・장소 </h2>
                    
                    
               
                    <img src="img/about/calendar.jpg" class="img-responsive img-centered" alt="" style=";width:90%;">
                    <img src="img/about/heart.png" class="img-responsive img-centered" alt="image-alt" style="width:8%;margin-left:57%;margin-top:-38%;margin-bottom:38%" href="#portfolioModal30" data-toggle="modal">
                    
                    <h3 class="section-subheading text-muted">국제신문사 빌딩 4층 K웨딩홀</h3>
                    <div class="timeline-body">
                                    <p class="text-muted"style="font-size:11px;">(1호선 동해선 3번 5번 출구)
                                                        <br>부산 연제구 중앙대로 1217 (거제동 76-2) 국제신문 4층
                                                      <br>TEL.051-555-9779
                        </p>
                                </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
<!--                     지도 -->
                    <div style="margin-left:100px;margin-bottom:20px;">
                    <a href="https://m.map.naver.com/search2/site.nhn?code=13560714#/map">
                                <img alt="naver-map" class="map-icon" id="naver-map" src="img/NAVER Map.jpg"/>
                    </a>
                    <a href="https://m.map.kakao.com/actions/detailMapView?id=12629769&refService=place">
                                <img alt="kakao-map" class="map-icon" id="kakao-map" src="img/kakao_map.png"/>
                    </a>        
                    <a href="https://goo.gl/maps/19RomQwJVhuJySQf6">        
                               <img alt="google-map" class="map-icon" id="google-map" src="img/googlemapslogo.jpg"/>
                    </a>        
                    </div>
                    
                    
<!--                     네이버 지도 -->
                    
                    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>간단한 지도 표시하기</title>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=ktymkz1cl9"></script>
</head>
<body>
<div id="map" style="width:100%;height:400px;"></div>

<script>
var mapOptions = {
    center: new naver.maps.LatLng(35.1960288,129.0792122),
    zoom: 17
};

var map = new naver.maps.Map('map', mapOptions);
    
//     결혼식장 위치
var markerOptions = {
position: new naver.maps.LatLng(35.1960288,129.0792122),
map: map
};

var marker = new naver.maps.Marker(markerOptions);

</script>
</body>
                    
                    
                    
                    
                    
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/metro.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>지하철</h4>
<!--                                     <h4 class="subheading">Our Humble Beginnings</h4> -->
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">1호선/동해선 교대역 3번 5번 출구</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/bus.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>버스</h4>
<!--                                     <h4 class="subheading">An Agency is Born</h4> -->
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">10 | 100-1 | 110-1 | 129-1 | 179 | 189 | 29 | 31 | 43 | 506 | 51 | 52 | 77</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/car.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>차</h4>
<!--                                     <h4 class="subheading">Transition to Full Service</h4> -->
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">지하 타워주차장 有</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/tour-bus.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>신랑측 전세 버스</h4>
<!--                                     <h4 class="subheading">Phase Two Expansion</h4> -->
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">군산 어디어디 몇시</p>
                                </div>
                            </div>
                        </li>
<!--                         <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </section>
