<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@900&family=Noto+Sans+KR:wght@900&family=Ubuntu:ital,wght@1,300&family=Viaoda+Libre&display=swap" rel="stylesheet">
    <title>Our Story</title>
</head>
<body>
    <!-- <input type="checkbox" id="modal-swtich">
    <label for="modal-swtich">
       <span>modal open close</span>
   </label> -->
    <div class="page">

        <!-- header -->
        <!-- <header class="header">
            <h1 class="website-title">Our Story</h1>
       
        </header> -->

        <!-- navigator -->
        <nav class="head-nav"> 
            <div class="head-nav-link">
                <a href="#" class="head-nav-item">Home</a>
            </div>
            <div class="head-nav-link">
                <a href="#" class="head-nav-item">Story</a>
            </div>
            <div class="head-nav-link">
                <a href="#" class="head-nav-item">Gallery</a>
            </div>
        </nav>

        <!-- video -->
        <video muted autoplay loop>
          <source src="/img/coast.mp4" type="video/mp4">
        </video>
        <div class="text">
          <p>After Wedding</p>
        </div>

       
        <!-- primary -->
        <!-- <div class="image_container">
            <div class="images">
              <div class="imageFlex1">
                <img src="./images/image (1).jpg">
                <img src="./images/image (2).jpg">
                <img src="./images/image (3).jpg">
                <img src="./images/image (4).jpg">
                <img src="./images/image (5).jpg">
              </div>
            </div>
            <div class="images">
              <div class="imageFlex2">
                <img src="./images/image (6).jpg">
                <img src="./images/image (7).jpg">
                <img src="./images/image (8).jpg">
                <img src="./images/image (9).jpg">
                <img src="./images/image (10).jpg">
              </div>
            </div>
            <div class="images">
              <div class="imageFlex3">
                <img src="./images/image (11).jpg">
                <img src="./images/image (12).jpg">
                <img src="./images/image (13).jpg">
                <img src="./images/image (14).jpg">
                <img src="./images/image (15).jpg">
              </div>
            </div>
            <div class="images">
                <div class="imageFlex4">
                <img src="./images/image (16).jpg">
                <img src="./images/image (17).jpg">
                <img src="./images/image (18).jpg">
                <img src="./images/image (19).jpg">
                <img src="./images/image (20).jpg">
                </div>
              </div>
          </div> -->
        <!-- secondary-a -->

        <!-- secondary-b -->

        <!-- footer -->
        <footer class="footer">
            footerfooterfooterfooterfooter
        </footer>
    </div>
     <!-- modal -->
 
    

     <!-- <div class="modal">
        <div class="dialog">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
            Blanditiis rerum possimus vero placeat praesentium aperiam, 
            ad nulla quisquam dicta. Asperiores, repellendus assumenda 
            exercitationem ipsa rerum voluptate odio culpa impedit animi.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
            Blanditiis rerum possimus vero placeat praesentium aperiam, 
            ad nulla quisquam dicta. Asperiores, repellendus assumenda 
            exercitationem ipsa rerum voluptate odio culpa impedit animi.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
            Blanditiis rerum possimus vero placeat praesentium aperiam, 
            ad nulla quisquam dicta. Asperiores, repellendus assumenda 
            exercitationem ipsa rerum voluptate odio culpa impedit animi.
        </div>


    </div> -->


</body>
</html>
