<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes" >
    <meta name="description" content="{{ site.description }}">
   
<!--     <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"> -->
<link rel="apple-touch-icon" sizes="57x57" href="{{site.baseurl}}/assets/logo.ico/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="{{site.baseurl}}/assets/logo.ico/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="{{site.baseurl}}/assets/logo.ico/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="{{site.baseurl}}/assets/logo.ico/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="{{site.baseurl}}/assets/logo.ico/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="{{site.baseurl}}/assets/logo.ico/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="{{site.baseurl}}/assets/logo.ico/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="{{site.baseurl}}/assets/logo.ico/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="{{site.baseurl}}/assets/logo.ico/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="{{site.baseurl}}/assets/logo.ico/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{site.baseurl}}/assets/logo.ico/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="{{site.baseurl}}/assets/logo.ico/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{site.baseurl}}/assets/logo.ico/favicon-16x16.png">
<link rel="manifest" href="{{site.baseurl}}/assets/logo.ico/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

    <!-- Custom CSS & Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link rel="stylesheet" href="{{ "/style.css" | prepend: site.baseurl }}">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="{{ "/css/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl }}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'> 
    <link href="https://fonts.googleapis.com/css2?family=Sunflower:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">
    <!--   Nanum Myeongjo   -->
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap" rel="stylesheet">
    <!--     Great Vibes -->
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
    <!--     Noto Serif KR -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap" rel="stylesheet">
    <!--     PT Sans -->
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">
     <!--     Playfair Display -->
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap" rel="stylesheet">
    <!--     Nanum Gothic -->
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    

  <!-- Link Swiper's CSS -->
<!--   <meta name="viewport" content="width=device-width" , initial-scale=1, minimum-scale=1, user-scalable=no, target-densitydpi=medium-dpi" /> -->
<!--   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.x.x/css/swiper.min.css">  -->
<!--     <script src="./js/script.js"></script>
    <script src="./js/highlight.js"></script>
    <script src="./js/highlightjs-line-numbers.min.js"></script>
    <script src="./js/swiper.min.js"></script> -->
<!--     <link rel="stylesheet" href="https://gusehdqo.github.io/_includes/css/highlight.js.css">
    <link rel="stylesheet" href="https://gusehdqo.github.io/_includes/css/swiper.min.css">
    <link rel="stylesheet" href="https://gusehdqo.github.io/_includes/css/style.css">
    <link rel="stylesheet" href="https://gusehdqo.github.io/_includes/css/sample.css">
    <link rel="stylesheet" href="https://gusehdqo.github.io/_includes/css/sample06.css"> -->
    
<!--     <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css"> -->
    
<link rel="stylesheet" href="https://gusehdqo.github.io/_includes/css/swiper.min.css"> 
    
    
<!--     카카오 공유 -->
<!--     <script src="https://developers.kakao.com/sdk/js/kakao.min.js"></script> -->
</head>
