<!-- Portfolio Grid Section -->
    <section id="portfolio">
       
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">갤러리</h2>

                </div>
            </div>
               
 <!-- Swiper -->
           
            
            
                    <!-- 1個目のSwiper START -->
            <!-- Swiper START -->
            <div class="swiper-container swiper1"> 
              
                <!-- メイン表示部分 -->
                <div class="swiper-wrapper">
                    <!-- 各スライド -->
                  
                  
                     
          
                    <div class="swiper-slide">   
                        
                           
                                <img src="../img/wedding/wedding1.jpg" class="img-responsive img-centered" alt="" style="margin-top:50%"> 
                            
                    </div>  

                    <div class="swiper-slide"> 
                            
                                <img src="../img/wedding/wedding2.jpg" class="img-responsive img-centered" alt="" style="margin-top:50%"> 
                            
                    </div>
                    <div class="swiper-slide">
                            
                                    <img src="img/wedding/wedding3.jpg" class="img-responsive img-centered" alt="" >  
                             
                    </div>
                     <div class="swiper-slide">
                            
                        <img src="img/wedding/wedding4.jpg" class="img-responsive img-centered" alt="" style="margin-top:50%">
                                  
                    </div>
                     <div class="swiper-slide">
                            
                        <img src="img/wedding/wedding5.jpg" class="img-responsive img-centered" alt="" style="margin-top:50%">   
                                  
                    </div>
                     <div class="swiper-slide">
                            
                        <img src="img/wedding/wedding6.jpg" class="img-responsive img-centered" alt="" style="margin-top:50%"> 
                                
                    </div>    
                <div class="lightgallery">
             <a href="../img/wedding/wedding1.jpg" >
                       <img src="../img/wedding/wedding1.jpg" style="visibility:hidden;display:none;">
                        </a> 
                   <a href="../img/wedding/wedding2.jpg" >
                       <img src="../img/wedding/wedding2.jpg" style="visibility:hidden;display:none;">
                       </a>  
                   <a href="../img/wedding/wedding3.jpg" > 
                       <img src="../img/wedding/wedding3.jpg" style="visibility:hidden;display:none;">
                       </a> 
                   <a href="../img/wedding/wedding4.jpg" > 
                       <img src="../img/wedding/wedding4.jpg" style="visibility:hidden;display:none;">
                       </a>
                   <a href="../img/wedding/wedding5.jpg" >  
                       <img src="../img/wedding/wedding5.jpg" style="visibility:hidden;display:none;">
                       </a> 
                   <a href="../img/wedding/wedding6.jpg" >  
                       <img src="../img/wedding/wedding6.jpg" style="visibility:hidden;display:none;">
                       </a> 
                    </div> 
          
                </div>
                
                 
                
<!--                 화살표 -->
<!--                 <div class="swiper-button-prev prev1"></div>
                <div class="swiper-button-next next1"></div> -->
            </div>
            <!-- Swiper END -->
        <!-- 1個目のSwiper END -->

        <!-- 2個目のSwiper START -->
            <!-- Swiper START -->
            <div class="swiper-container swiper2" >
                <!-- メイン表示部分 -->
                <div class="swiper-wrapper">
                    <!-- 各スライド -->
                    <div class="swiper-slide">
                        <img src="img/wedding/wedding1.jpg" alt="" style="width: 100%; height:auto;margin-right: 10px;">
                    </div>
                   <div class="swiper-slide">
                        <img src="img/wedding/wedding2.jpg" alt="" style="width: 100%; height:auto;margin-right: 10px;">
                    </div>
                    <div class="swiper-slide">
                        <img src="img/wedding/wedding3.jpg" alt="" style="width: 100%; height:auto;margin-right: 10px;">
                    </div>
                    <div class="swiper-slide">
                        <img src="img/wedding/wedding4.jpg" alt="" style="width: 100%; height:auto;margin-right: 10px;">
                    </div>
                    <div class="swiper-slide">
                        <img src="img/wedding/wedding5.jpg" alt="" style="width: 100%; height:auto;margin-right: 10px;">
                    </div>
                    <div class="swiper-slide">
                        <img src="img/wedding/wedding6.jpg" alt="" style="width: 100%; height:auto;margin-right: 10px;">
                    </div>

                </div>
            </div>
            <!-- Swiper END -->
        <!-- 2個目のSwiper END -->
   
        </div>
        
<!--         <div class="row">
        <div class="lightgallery">
    <img src="../img/wedding/wedding6.jpg">
    <a c title="これはLightGalleryのサンプル（2）です。"></a>
    <a href="../img/wedding/wedding6.jpg" title="これはLightGalleryのサンプル（3）です。"><img src="../img/wedding/wedding1.jpg"></a>
    <a href="../img/wedding/wedding6.jpg" title="これはLightGalleryのサンプル（4）です。"><img src="../img/wedding/wedding2.jpg"></a>
    <a href="../img/wedding/wedding6.jpg" title="これはLightGalleryのサンプル（5）です。"><img src="../img/wedding/wedding3.jpg"></a>
    <a href="../img/wedding/wedding6.jpg" title="これはLightGalleryのサンプル（6）です。"><img src="../img/wedding/wedding4.jpg"></a>
    <a href="../img/wedding/wedding6.jpg" title="これはLightGalleryのサンプル（7）です。"><img src="../img/wedding/wedding5.jpg"></a>
    <a href="../img/wedding/wedding6.jpg" title="これはLightGalleryのサンプル（8）です。"><img src="../img/wedding/wedding6.jpg"></a>
</div>
</div> -->
            
    </section>
