<!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Gallery</h2>
<!--                     <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    

<a href="#portfolioModal7" class="portfolio-link" data-toggle="modal" style=" float:left; width:48%; margin-right:14px;">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/test1.jpg" class="img-responsive img-centered" alt="">
</a>
<a href="#portfolioModal10" class="portfolio-link" data-toggle="modal" style="width: 48%; float:left; ">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/gallery_test_2.jpg" class="img-responsive img-centered" alt="">
</a>
                    
<a href="#portfolioModal20" class="portfolio-link" data-toggle="modal" style="width: 48%; float:left; margin-top:-90px;">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/gallery_test_3.jpg" class="img-responsive img-centered" alt="">
</a>                  
                    
                </div>
                
                
<!-- Swiper -->
  <div class="swiper-container gallery-top">
    <div class="swiper-wrapper">
      <div class="swiper-slide" style="background-image:url(./img/test1.jpg)"></div>
      <div class="swiper-slide" style="background-image:url(./img/gallery_test_2.jpg)"></div>
      <div class="swiper-slide" style="background-image:url(./img/gallery_test_3.jpg)"></div>
      <div class="swiper-slide" style="background-image:url(./img/test1.jpg)"></div>
      <div class="swiper-slide" style="background-image:url(./img/gallery_test_2.jpg)"></div>
      <div class="swiper-slide" style="background-image:url(./img/gallery_test_3.jpg)"></div>
      <div class="swiper-slide" style="background-image:url(./img/test1.jpg)"></div>
      <div class="swiper-slide" style="background-image:url(./img/gallery_test_3.jpg)"></div>
      <div class="swiper-slide" style="background-image:url(./gallery_test_2.jpg)"></div>
      <div class="swiper-slide" style="background-image:url(./img/test1.jpg)"></div>
    </div>
    <!-- Add Arrows -->
    <div class="swiper-button-next swiper-button-white"></div>
    <div class="swiper-button-prev swiper-button-white"></div>
  </div>
  <div class="swiper-container gallery-thumbs">
    <div class="swiper-wrapper">
      <div class="swiper-slide" style="background-image:url(./img/test1.jpg)"></div>
      <div class="swiper-slide" style="background-image:url(./img/gallery_test_2.jpg)"></div>
      <div class="swiper-slide" style="background-image:url(./img/gallery_test_3.jpg)"></div>
      <div class="swiper-slide" style="background-image:url(./img/test1.jpg)"></div>
      <div class="swiper-slide" style="background-image:url(./img/gallery_test_2.jpg)"></div>
      <div class="swiper-slide" style="background-image:url(./img/gallery_test_3.jpg)"></div>
      <div class="swiper-slide" style="background-image:url(./img/test1.jpg)"></div>
      <div class="swiper-slide" style="background-image:url(./img/gallery_test_3.jpg)"></div>
      <div class="swiper-slide" style="background-image:url(./img/gallery_test_2.jpg)"></div>
      <div class="swiper-slide" style="background-image:url(./img/test1.jpg)"></div>
    </div>
  </div>
                
                
                
                
                
<!--             {% for post in site.posts %} -->
<!--                 <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/{{ post.thumbnail }}" class="img-responsive img-centered" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>{{ post.title }}</h4>
                        <p class="text-muted">{{ post.subtitle }}</p>
                    </div>
                </div> -->
<!--             {% endfor %} -->
            </div>
        </div>
    </section>
