<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Invitation</h2>
                    <h3 class="section-subheading text-muted"style="font-size:15px;line-height:25px;">
                        둘도 없는 친구이자 든든한 동반자로 만난 우리  
                    <br>
                       서로 존중하고 격려하며 토닥거리고 잘 살겠습니다.
                    <br>
                       여러분의 사랑과 덕담 아래 부부가 되어 일가를 이룬 
                    <br>   
                       다면 좋을 때는 선함을 떠올려 주변을 배려하고, 가끔  
                    <br> 
                       힘들 때는 인내와 용기를 기억하여 씩씩하게 문턱을 
                    <br>    
                        넘어가리라 믿습니다.
                    <br>
                       응원해주십시오.
                    </h3>
                </div>
            </div>
                <div class="row">
                    <br>                
                    <hr width="30%" align="center">           
                    <p class="text-muted" style="text-align:center;">신랑</p>
                    <br>
                        <img src="img/about/broom.jpg" class="img-responsive img-centered" style="filter: grayscale(100%);width:80%;">
<!--                     <h4 style="text-align:center;font-family: 'Nanum Gothic', sans-serif;">일구</h4> -->

                    <!--                     한눌이꺼 -->
<!-- 					<p style="font-size: 0;text-align: right;">
						            	<span style="display: inline-block;vertical-align: top;font-size: 0.813rem;font-weight: 400;line-height: 1.5rem;text-align: center;white-space: pre-wrap;">현금석</span>
									<span style="position: relative;width: 0.750rem;height: 1.5rem;overflow: hidden;"></span>
								<span style="display: inline-block;vertical-align: top;font-size: 0.813rem;font-weight: 400;line-height: 1.5rem;text-align: center;white-space: pre-wrap;">김영숙</span>
					</p>
				    <p style="height: 1.5rem;font-size: 0.625rem;font-weight: 300;line-height: 1.625rem;">의</p>
								<p style="height: 1.5rem;padding-left: 0.188rem;font-size: 0.625rem;font-weight: 300;line-height: 1.625rem;">장남</p>
								<p style="padding-left: 0.313rem;font-size: 1rem;font-weight: 400;line-height: 1.5rem;text-align: left;white-space: pre-wrap;">일구</p> -->
			           <p style="font-size:0;text-align:center;float:left; margin-left:30%;margin-top:2%;">
						            	<span style="display: inline-block;vertical-align: top;font-size: 1.5rem;font-weight: 400;line-height: 1.5rem;text-align: center;white-space: pre-wrap;float:left;">현금석</span>
									<span style="position: relative;width: 0.750rem;height: 1.5rem;overflow: hidden;float:left;">.</span>
								<span style="display: inline-block;vertical-align: top;font-size: 1.5rem;font-weight: 400;line-height: 1.5rem;text-align: center;white-space: pre-wrap;">김영숙</span>
				   </p>
				   <p style="height: 1.5rem;font-size: 1rem;font-weight: 300;line-height: 1.625rem;float:left;margin-right:3px;margin-top:2.5%;">의</p>

				   <p style="height: 1.5rem;padding-left: 0.188rem;font-size: 1.1rem;font-weight: 300;line-height: 1.625rem; float:left;margin-right:3px;margin-top:2.3%;">장남</p>

                                   <p style="padding-left: 0.230rem;font-size: 1.8rem;font-weight: 400;line-height: 1.5rem;text-align: left;white-space: pre-wrap;margin-top:1.5%;">일구</p>
							
                </div>
            
                <div class="row">
                    <br>
                    <hr width="30%" align="center">
                    <p class="text-muted" style="text-align:center;">신부</p>
                    <br>
                        <img src="img/about/bride.jpg" class="img-responsive img-centered" style="filter: grayscale(100%);width:80%;">
<!--                     <h4 style="text-align:center;font-family: 'Nanum Gothic', sans-serif;">민지</h4> -->
<!-- 			<p style="font-size: 0;text-align: right;">
						            	<span style="display: inline-block;vertical-align: top;font-size: 0.813rem;font-weight: 400;line-height: 1.5rem;text-align: center;white-space: pre-wrap;">배문호</span>
									<span style="position: relative;width: 0.750rem;height: 1.5rem;overflow: hidden;"></span>
								<span style="display: inline-block;vertical-align: top;font-size: 0.813rem;font-weight: 400;line-height: 1.5rem;text-align: center;white-space: pre-wrap;">최정임</span>
					</p>
				    <p style="height: 1.5rem;font-size: 0.625rem;font-weight: 300;line-height: 1.625rem;">의</p>
								<p style="height: 1.5rem;padding-left: 0.188rem;font-size: 0.625rem;font-weight: 300;line-height: 1.625rem;">장녀</p>
								<p style="padding-left: 0.313rem;font-size: 1rem;font-weight: 400;line-height: 1.5rem;text-align: left;white-space: pre-wrap;">민지</p> -->
               
				   <p style="font-size:0;text-align:center;float:left; margin-left:30%;margin-top:2%;">
						            	<span style="display: inline-block;vertical-align: top;font-size: 1.5rem;font-weight: 400;line-height: 1.5rem;text-align: center;white-space: pre-wrap;float:left;">현금석</span>
									<span style="position: relative;width: 0.750rem;height: 1.5rem;overflow: hidden;float:left;">.</span>
								<span style="display: inline-block;vertical-align: top;font-size: 1.5rem;font-weight: 400;line-height: 1.5rem;text-align: center;white-space: pre-wrap;">김영숙</span>
				   </p>
				   <p style="height: 1.5rem;font-size: 1rem;font-weight: 300;line-height: 1.625rem;float:left;margin-right:3px;margin-top:2.5%;">의</p>

				   <p style="height: 1.5rem;padding-left: 0.188rem;font-size: 1.1rem;font-weight: 300;line-height: 1.625rem; float:left;margin-right:3px;margin-top:2.3%;">장남</p>

                                   <p style="padding-left: 0.230rem;font-size: 1.8rem;font-weight: 400;line-height: 1.5rem;text-align: left;white-space: pre-wrap;margin-top:1.5%;">일구</p>
		
		</div>                                                                                    
        </div>
    </section>
