<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row" >
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">모십니다</h2>
                    <h3 class="section-subheading text-muted"style="font-size:15px;line-height:25px;width:111%;margin-left:-17px;">
아름다운 가을 날, 저희 두사람 혼인의 
예를 올립니다. 축하의 순풍을 불어주신다면 
기쁜 날에는 선함으로 주변을 배려하고
아주 가끔 힘든 날에는 인내와 용기를 떠올려 
씩씩하게 문턱을 넘어가겠습니다.  
감사합니다. 잘 살겠습니다.
			    
                    </h3>
                </div>
            </div>
                <div class="row">
                    <br>                
                    <hr width="30%" align="center" border-top: 1px solid #cccccc96;>           
                    <p class="text-muted" style="text-align:center;font-size:18px;">신랑</p>
                    <br>
                        <img src="img/wedding/broom.jpg" class="img-responsive img-centered" style="width:80%;">
<!--                     <h4 style="text-align:center;font-family: 'Nanum Gothic', sans-serif;">일구</h4> -->

                    <!--                     한눌이꺼 -->
<!-- 					<p style="font-size: 0;text-align: right;">
						            	<span style="display: inline-block;vertical-align: top;font-size: 0.813rem;font-weight: 400;line-height: 1.5rem;text-align: center;white-space: pre-wrap;">현금석</span>
									<span style="position: relative;width: 0.750rem;height: 1.5rem;overflow: hidden;"></span>
								<span style="display: inline-block;vertical-align: top;font-size: 0.813rem;font-weight: 400;line-height: 1.5rem;text-align: center;white-space: pre-wrap;">김영숙</span>
					</p>
				    <p style="height: 1.5rem;font-size: 0.625rem;font-weight: 300;line-height: 1.625rem;">의</p>
								<p style="height: 1.5rem;padding-left: 0.188rem;font-size: 0.625rem;font-weight: 300;line-height: 1.625rem;">장남</p>
								<p style="padding-left: 0.313rem;font-size: 1rem;font-weight: 400;line-height: 1.5rem;text-align: left;white-space: pre-wrap;">일구</p> -->
			           <p style="font-size:0;text-align:center;float:left; margin-left:30%;margin-top:2%;">
						            	<span style="display: inline-block;vertical-align: top;font-size: 1.5rem;font-weight: 400;line-height: 1.5rem;text-align: center;white-space: pre-wrap;float:left;">현금석</span>
<!-- 								<span style="position: relative;width: 0.750rem;height: 1.5rem;overflow: hidden;float:left;">.</span> -->
					<!-- 			add		    -->
					   			<span class="bul"></span>
								<span style="display: inline-block;vertical-align: top;font-size: 1.5rem;font-weight: 400;line-height: 1.5rem;text-align: center;white-space: pre-wrap;">김영숙</span>
				   </p>
				   <p style="height: 1.5rem;font-size: 1rem;font-weight: 300;line-height: 1.625rem;float:left;margin-right:3px;margin-top:2.3%;">의</p>

				   <p style="height: 1.5rem;padding-left: 0.188rem;font-size: 1.1rem;font-weight: 300;line-height: 1.625rem; float:left;margin-right:3px;margin-top:2.2%;">장남</p>

                                   <p style="padding-left: 0.230rem;font-size: 1.8rem;font-weight: 400;line-height: 1.5rem;text-align: left;white-space: pre-wrap;margin-top:1.7%;">일구</p>
							
                </div>
            
                <div class="row" >
                    <br>
                    <hr width="30%" align="center" border-top: 1px solid #cccccc96;>
                    <p class="text-muted" style="text-align:center;font-size:18px;">신부</p>
                    <br>
                        <img src="img/wedding/bride.jpg" class="img-responsive img-centered" style="width:80%;">
<!--                     <h4 style="text-align:center;font-family: 'Nanum Gothic', sans-serif;">민지</h4> -->
<!-- 			<p style="font-size: 0;text-align: right;">
						            	<span style="display: inline-block;vertical-align: top;font-size: 0.813rem;font-weight: 400;line-height: 1.5rem;text-align: center;white-space: pre-wrap;">배문호</span>
									<span style="position: relative;width: 0.750rem;height: 1.5rem;overflow: hidden;"></span>
								<span style="display: inline-block;vertical-align: top;font-size: 0.813rem;font-weight: 400;line-height: 1.5rem;text-align: center;white-space: pre-wrap;">최정임</span>
					</p>
				    <p style="height: 1.5rem;font-size: 0.625rem;font-weight: 300;line-height: 1.625rem;">의</p>
								<p style="height: 1.5rem;padding-left: 0.188rem;font-size: 0.625rem;font-weight: 300;line-height: 1.625rem;">장녀</p>
								<p style="padding-left: 0.313rem;font-size: 1rem;font-weight: 400;line-height: 1.5rem;text-align: left;white-space: pre-wrap;">민지</p> -->
               
				   <p style="font-size:0;text-align:center;float:left; margin-left:30%;margin-top:2%;">
						            	<span style="display: inline-block;vertical-align: top;font-size: 1.5rem;font-weight: 400;line-height: 1.5rem;text-align: center;white-space: pre-wrap;float:left;">배문호</span>
<!-- 								<span style="position: relative;width: 0.750rem;height: 1.5rem;overflow: hidden;float:left;">.</span> -->
						<!-- 		add  			 -->
					   			<span class="bul"></span>
								<span style="display: inline-block;vertical-align: top;font-size: 1.5rem;font-weight: 400;line-height: 1.5rem;text-align: center;white-space: pre-wrap;">최정임</span>
				   </p>
				   <p style="height: 1.5rem;font-size: 1rem;font-weight: 300;line-height: 1.625rem;float:left;margin-right:3px;margin-top:2.3%;">의</p>

				   <p style="height: 1.5rem;padding-left: 0.188rem;font-size: 1.1rem;font-weight: 300;line-height: 1.625rem; float:left;margin-right:3px;margin-top:2.2%;">장녀</p>

                                   <p style="padding-left: 0.230rem;font-size: 1.8rem;font-weight: 400;line-height: 1.5rem;text-align: left;white-space: pre-wrap;margin-top:1.7%;">민지</p>
		
		</div>                                                                                    
        </div>
	     
	    <div style="color: rgba(0,0,0,0.9);background-color: #fff6f8;line-height: 5rem;text-align: center;font-family: 'Nanum Gothic', sans-serif;">
		혼주에게 연락하기
	    </div>
	    <div class="row" style="box-sizing: border-box;margin-top:5%;margin-bottom:5%;">
		    
	<p style="font-size:0; margin-left:20%;margin-top:2%;float:left;">
		    <span style="display: inline-block;vertical-align: top;font-size: 1.5rem;font-weight: 400;line-height: 1.5rem;text-align: center;white-space: pre-wrap;">신랑 측 </span> 
	</p>
	<p style="font-size:0; margin-left:18%;margin-top:2%;float:left;">
		    <span style="display: inline-block;vertical-align: top;font-size: 1.5rem;font-weight: 400;line-height: 1.5rem;text-align: center;white-space: pre-wrap;">신부 측 </span> 
	</p>   	    
		    <br>
	<p style="height: 1.5rem;padding-left: 0.188rem;font-size: 1.1rem;font-weight: 300;line-height: 2.3rem; margin-left:18%;float:left;">아버지</p> 		     
	<p style="padding-left: 0.230rem;font-size: 1.8rem;font-weight: 400;line-height: 2.3rem;text-align: left;white-space: pre-wrap;margin-top:0.5%;;float:left;">현금석</p>
	
	<p style="height: 1.5rem;padding-left: 0.188rem;font-size: 1.1rem;font-weight: 300;line-height: 2.3rem; margin-left:18%;float:left;">아버지</p>
	<p style="padding-left: 0.230rem;font-size: 1.8rem;font-weight: 400;line-height: 2.3rem;text-align: left;white-space: pre-wrap;margin-top:0.5%;float:left;">배문호</p>    
		    
	<div style="float:left;">	    
<!-- 		    현금석 전화번호 -->
	    <a href="tel:010-8670-2539"><img style="display: block;max-width: 10%;margin-left:17%;float:left;border-radius:50%;filter: brightness(1.2);" src="img/wedding/phone_blue.png"></a>
	    <a href="sms:010-8670-2539"><img style="max-width: 10%;margin-left:3%;float:left;" src="img/about/mail_black.png"></a>  
		    
<!-- 		    배문호 전화번호 -->
	    <a href="tel:010-3868-4213"><img style="display: block;max-width: 10%;margin-left:17%;float:left;border-radius:50%;" src="img/wedding/phone_pink.png"></a>
	    <a href="sms:010-3868-4213"><img style="max-width: 10%;margin-left:3%;float:left;" src="img/about/mail.png"></a>        
	</div>	    
		    <br>
	<div style="margin-top:3%">	    
		<p style="height: 1.5rem;padding-left: 0.188rem;font-size: 1.1rem;font-weight: 300;line-height: 3.7rem; margin-left:18%;float:left;">어머니</p>
		<p style="padding-left: 0.230rem;font-size: 1.8rem;font-weight: 400;line-height: 3.3rem;text-align: left;white-space: pre-wrap;margin-top:0.5%;float:left;">김영숙</p> 

		<p style="height: 1.5rem;padding-left: 0.188rem;font-size: 1.1rem;font-weight: 300;line-height: 3.7rem; margin-left:18%;float:left;">어머니</p>
		<p style="padding-left: 0.230rem;font-size: 1.8rem;font-weight: 400;line-height: 3.3rem;text-align: left;white-space: pre-wrap;margin-top:0.5%;float:left;">최정임</p>
	
		<div style="float:left;">	    
<!-- 		    김영숙 전화번호 -->
		    <a href="tel:010-4661-2539"><img style="display: block;max-width: 10%;margin-left:17%;float:left;border-radius:50%;filter: brightness(1.2);" src="img/wedding/phone_blue.png"></a>
		    <a href="sms:010-4661-2539"><img style="max-width: 10%;margin-left:3%;float:left;" src="img/about/mail_black.png"></a>
	
<!-- 		    최정임 전화번호 -->
		    <a href="tel:010-4219-4217"><img style="display: block;max-width: 10%;margin-left:17%;float:left;border-radius:50%;" src="img/wedding/phone_pink.png"></a>
		    <a href="sms:010-4219-4217"><img style="max-width: 10%;margin-left:3%;float:left;" src="img/about/mail.png"></a>      
		</div>	    
	</div>
	    </div>	
	    	<div style="color: #fff6f8;background-color: #fff6f8;line-height: 5rem;text-align: center;font-family: 'Nanum Gothic', sans-serif;">
		    공백
		</div>
    </section>
