<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Invitation</h2>
                    <h3 class="section-subheading text-muted"style="font-size:15px;line-height:25px;">
                        둘도 없는 친구이자 든든한 동반자로 만난 우리  
                    <br>
                       서로 존중하고 격려하며 토닥거리고 잘 살겠습니다.
                    <br>
                       여러분의 사랑과 덕담 아래 부부가 되어 일가를 이룬 
                    <br>   
                       다면 좋을 때는 선함을 떠올려 주변을 배려하고, 가끔  
                    <br> 
                       힘들 때는 인내와 용기를 기억하여 씩씩하게 문턱을 
                    <br>    
                        넘어가리라 믿습니다.
                    <br>
                       응원해주십시오.
                    </h3>
                </div>
            </div>
            
            <div class="row">
                <p class="text-muted">신랑</p>
                    <img src="img/about/broom.jpg" class="img-responsive img-centered" alt="" style="filter: grayscale(100%);">
                <h4>일구</h4>
            </div>
            
            <div class="row">
                <p class="text-muted">신부</p>
                    <img src="img/about/bride.jpg" class="img-responsive img-centered" alt="" style="filter: grayscale(100%);>
                <h4>민지</h4>
            </div>
                                                                                                     
<!--            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">E-Commerce</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Responsive Design</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Web Security</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
            </div>  -->
        </div>
    </section>
