<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index">

    {% include header.html %}
    {% include services.html %}
    {% include portfolio_grid.html %}
    {% include about.html %}
    {% include team.html %}
    {% include clients.html %}
    {% include contact.html %}
    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}

      <!--               위로 버튼 -->
    <div style="position: fixed; bottom: 5px; right: 5px;">
           <a href="#page-top" class="page-scroll btn btn-xl"><img src="img/top-arrow.jpg" title="위로 가기" style="width: 50px;"></a>
    </div>

    </body>
</html>
