<!DOCTYPE html>
<html lang="en">
  {% include head.html %}


    <body id="page-top" class="index">

    {% include header.html %}
    {% include services.html %}
    {% include portfolio_grid.html %}
    {% include about.html %}
    {% include team.html %}
    {% include clients.html %}
    {% include contact.html %}
    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}

      <!--               위로 버튼 -->
    <div style="position: fixed; bottom: 5px; right: 5px;">
           <a href="#page-top" class="page-scroll btn btn-xl"><img src="img/top-arrow.jpg" title="위로 가기" style="width: 50px;"></a>
    </div>

      
      <!--       카카오톡 공유 -->
    <script src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>
    <script type='text/javascript'>
//   <![CDATA[
//     사용할 앱의 JavaScript 키를 설정해 주세요.
    Kakao.init('4ce324656edaa1ee22e575121ff0f2a0');
//     카카오링크 버튼을 생성합니다. 처음 한번만 호출하면 됩니다               
    Kakao.Link.createDefaultButton({
      container: '#kakao-link-btn',
      objectType: 'feed',
      content: {
        title: '현일구와 배민지의 결혼식에 초대합니다',
        description: '#2020년 10월 9일 금요일 한글날 오후 2시 #국제신문사 빌딩 4층 K웨딩홀',
        imageUrl: 'https://github.com/gusehdqo/gusehdqo.github.io/tree/master/img/testmain1.jpg',
        link: {
          mobileWebUrl: 'https://developers.kakao.com',
          webUrl: 'https://developers.kakao.com'
        }
      },
      social: {
        likeCount: 286,
        commentCount: 45,
        sharedCount: 845
      },
      buttons: [
        {
          title: '웹으로 보기',
          link: {
            mobileWebUrl: 'https://developers.kakao.com',
            webUrl: 'https://developers.kakao.com'
          }
        },
        {
          title: '앱으로 보기',
          link: {
            mobileWebUrl: 'https://developers.kakao.com',
            webUrl: 'https://developers.kakao.com'
          }
        }
      ]
    });
  //]]>
    </script>

         <!-- Swiper JS -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.5/js/swiper.min.js"></script>
<!--       <script>
        //スライダー
        var mainSlider = new Swiper('.swiper1', {
          centeredSlides: true,
          loop:true,
          navigation: {
            nextEl: '.swiper-button-next next1',
            prevEl: '.swiper-button-prev prev1',
          }
        });

        //サムネイル
        var Thumbnail = new Swiper('.swiper2', {
          slidesPerView: 5,
          loop:true,
          centeredSlides:true,
          slideToClickedSlide: true,
        });

        // スライド遷移時にイベントが発生する slideChange というAPIを使用
        // スライダーをスライドした時にサムネイルを移動させる
        mainSlider.on('slideChange', () => {
            // realIndex は現在activeになっているスライドの番号が入っている
            Thumbnail.slideToLoop(mainSlider.realIndex);
        });
        // サムネイルをスライドした時にメインスライドを連動させる(上記と逆)
          Thumbnail.on('slideChange', () => {
            mainSlider.slideToLoop(Thumbnail.realIndex);
        });
        
     </script> -->
     


    </body>
  
</html>
